.main-container {
  min-height: 100vh;
  background-color: #E5E5E5;
}

nav.navbar.navbar-inverse {
  margin-bottom: 0;
  background-color: #343a40;
  color: white;
}

div.jumbotron.text-center {
  background-color: #e9ecef;
}

li > a:hover, li > a:active{
  cursor: pointer;
}
