<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>{{this.user.name}}</h2>
      <h5></h5>
      <div>
      <div><img class="image" src={{this.url}} height="200px"/></div>
      </div>
      <br>
      <ul>
        <li>{{this.user.company}}</li>
        <li>{{this.user.homeCity}}, TX</li>
      </ul>
      <h3>Some Links</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Website</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mission Statement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Latest Venture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>About Me</h2>
      <p class="bio-long">{{this.user.bio}}
       </p>
      <br>
      <h2>Recent Connects</h2>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Bandit Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Compton Computers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dynamic Demonstrations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <br>
      <h2>My Rides!</h2>
      <p><a href="file:///F:/myHack/CommuteConnect/CommuteConnect/templates/fakepost.html">Austin - Houston 2/23</a></p>
    </div>
  </div>
</div>
