<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../static/style.css">
<head>

  <ul class="slideshow">
    <li><span>Image 01</span><div><h3>Commute Connects</h3></div></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
  </ul>
    <div class="container">
      <header>

    </header>
  </div>

<form action="/action_page.php">
 <div class="transbox">
  <h1> Starting Destination </h1>
    <select name="destination1">
    <option value="dallas">Dallas</option>
    <option value="houston">Houston</option>
    <option value="austin">Austin</option>
    <option value="sanantonio">San Antonio</option>
      <option value="other">Other</option>
  </select>

  <br><br>

    <h1> Ending Destination </h1>
  <select name="destination2">
    <option value="dallas">Dallas</option>
    <option value="houston">Houston</option>
    <option value="austin">Austin</option>
    <option value="sanantonio">San Antonio</option>
      <option value="other">Other</option>
  </select>

    <br><br>

      <h1> Pickup Time </h1>
      <select name="hour">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        </select>

:

  <select name="minute">
    <option value="0">00</option>
    <option value="05">05</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">50</option>
    <option value="55">55</option>
    </select>

    <select name="ampm">
      <option value="am">A.M</option>
      <option value="pm">P.M</option>
      </select>

<br><br>

  <h1>Pickup Date</h1>
  <h1>MM/DD/YYYY</h1>
      <select name="month">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        </select>


/

      <select name="day">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
        </select>

/

        <select name="year">
          <option value="2019">2019</option>
        </select>
<br><br>
  <a href="file:///F:/myHack/CommuteConnect/CommuteConnect/templates/fakepost.html">submit</a>
  <br>
  <a href="../home.html">return</a></p>
</form>
</div>
</html>
