<!DOCTYPE html>
<html lang="en">
<head>
  <title>CommuteConnect Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Tejano Technology</h1>
  <p>Innovation in our State</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="../home">CommuteConnect</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="file:///F:/myHack/CommuteConnect/CommuteConnect/templates/home.html">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Rides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Connects</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2></h2>
      <h5></h5>
      <div>
      <div><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/Pittsburgh_Light_Rail_%28logo%29.svg" height="200px"/></div>
      </div>
      <br>
      <ul>
        <li>Company</li>
        <li>Austin, TX</li>
      </ul>
      <h3>Some Links</h3>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Website</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mission Statement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Latest Venture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>About Me</h2>
      <p class="bio-long"> Tejano Technology is an Austin based tech aggregator, with the community in mind. Our mission is to bring technology in to our at risk neighborhoods and schools, supplying youth who would not normally have an oppurtinity to succeed with the advantages others might be supplied with.

      Tejano Technology believes the most important step moving forward is diversifying the tech industry, and including new perspectives to bring to the table. The Austin Chronicle has voted us a "top 10 place to work" and our company has grown at an accelerated rate since we began 4 years ago.
       </p>
      <br>
      <h2>Recent Connects</h2>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Bandit Tech</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Compton Computers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dynamic Demonstrations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
      <br>
      <h2>My Rides!</h2>
      <p><a href="file:///F:/myHack/CommuteConnect/CommuteConnect/templates/fakepost.html">Austin - Houston 2/23</a></p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p>CommuteConnect</p>
</div>

</body>
</html>
