input {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchContainer {
  justify-content: center;
  margin-top: 40px;
}

#middle {
  padding-left: 30px;
  padding-right: 30px;
}
