body {
  font-family: Circular;
}

.avatar-image {
  float:left;
}

.Results-information {
  float:right;
}

.searchInfo ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: inherit;
}
