body {
  font-family: Circular;
}

a {
  text-decoration: none;
  color: inherit;
}

.col-sm-3{
  box-sizing: border-box;
  max-width: calc(25% - 10px);
}

#main-content .col-sm-3 {
  margin: 5px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 25px;
}

footer {
  background-color: #212529;
}

.card-img-top img{
  width: 100%;
}

row {
  text-align: center;
}

ul {
  list-style-type: none;
}
