<!DOCTYPE html>
  <html>
    <body>
      <div id="myRides">

        <h1>My Rides</h1>

      </div>

      <div id="trips" class="trips">

        <a href=""><h3>Ride 1</h3></a>
      <p>Applicants:</p>
        <ol>
          <li><a href="" class = "applicant">Applicant name</a></li>
            <p> <a href="Conrifm">Confirm</a>
                <a href="Deny">Deny</a>
            </p>
             <li><a href="" class = "applicant">Applicant name</a></li>
            <p> <a href="Conrifm">Confirm</a>
                <a href="Deny">Deny</a>
            </p>
             <li><a href="" class = "applicant">Applicant name</a></li>
            <p> <a href="Conrifm">Confirm</a>
                <a href="Deny">Deny</a>
            </p>
     </div>
     <div id="trips" class="trips">

        <a href=""><h3>Ride 1</h3></a>
      <p>Applicants:</p>
        <ol>
          <li><a href="" class = "applicant">Applicant name</a></li>
            <p> <a href="Conrifm">Confirm</a>
                <a href="Deny">Deny</a>
            </p>
             <li><a href="" class = "applicant">Applicant name</a></li>
            <p> <a href="Conrifm">Confirm</a>
                <a href="Deny">Deny</a>
            </p>
             <li><a href="" class = "applicant">Applicant name</a></li>
            <p> <a href="Conrifm">Confirm</a>
                <a href="Deny">Deny</a>
            </p>
     </div>



    </body>
   </html>
