<body>
  <div class="container" id="main-content">
    <div class="row">
      <div class="col-sm-3">
        <h3>name</h3>
        <div class="avatar-image">
          <img src="../resources/Images/iconmonstr-generation-11.svg" class="rounded" width=100px alt="avatar">
        </div>
        <div class="row">
          <h6>Destination</h5>
        </div>
        <div class="row">
          <h6>date</h6>
        </div>
        <div class="row">
            <h6>role</h6>
        </div>
        <div class="row">
          <h6>price</h6>
        </div>
      </div>
      <div class="col-sm-3" >
        <div class="col-sm-3">
          <h3>name</h3>
          <div class="avatar-image">
            <img src="../resources/Images/iconmonstr-generation-11.svg" class="rounded" width=100px alt="avatar">
          </div>
          <div class="row">
            <h6>Destination</h5>
          </div>
          <div class="row">
            <h6>date</h6>
          </div>
          <div class="row">
              <h6>role</h6>
          </div>
          <div class="row">
            <h6>price</h6>
          </div>
        </div>        </div>
      <div class="col-sm-3" >
        <div class="col-sm-3">
          <h3>name</h3>
          <div class="avatar-image">
            <img src="../resources/Images/iconmonstr-generation-11.svg" class="rounded" width=100px alt="avatar">
          </div>
          <div class="row">
            <h6>Destination</h5>
          </div>
          <div class="row">
            <h6>date</h6>
          </div>
          <div class="row">
              <h6>role</h6>
          </div>
          <div class="row">
            <h6>price</h6>
          </div>
        </div>        </div>
      <div class="col-sm-3" >
        <div class="col-sm-3">
          <h3>name</h3>
          <div class="avatar-image">
            <img src="../resources/Images/iconmonstr-generation-11.svg" class="rounded" width=100px alt="avatar">
          </div>
          <div class="row">
            <h6>Destination</h5>
          </div>
          <div class="row">
            <h6>date</h6>
          </div>
          <div class="row">
              <h6>role</h6>
          </div>
          <div class="row">
            <h6>price</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
