<!doctype html>
<html lang="en">
  <head>
    <title>Commute Connect</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../resources/CSS/SearchResults.css">
  </head>

  <body>

    <header>
      <!--Input header ----->
      <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Something cool</h1>
        <p>Something catchy that makes us look super professional</p>
      </div>
      <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Commute Connect</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class=" navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Rides</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connect</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign up</a>
            </li>
          </ul>
        </div>
      </nav>


  </header>
<body>
<!-- add SearchResults.html here -->
<div class="container" id="main-content">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/bill.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Slim Tony</h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>entrepreneur</li>
          <li>4/7/19</li>
        </ul>
    </div>
  </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/steve.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Big Poppa Dougy</h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/fred.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Johanna </h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>entrepreneur</li>
          <li>4/7/19</li>
        </ul>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/mark.jpg"  alt="avatar">
        </div>
        <h5 class="card-title">Marky Mark </h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
  </div>
  </div>
</div>

<!-- new row -->

<div class="container" id="main-content">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/bill.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Slim Tony</h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
  </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/steve.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Big Poppa Dougy</h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/fred.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Johanna </h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/mark.jpg"  alt="avatar">
        </div>
        <h5 class="card-title">Marky Mark </h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
  </div>
  </div>
</div>

<!-- new row -->

<div class="container" id="main-content">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/bill.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Slim Tony</h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
  </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/steve.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Big Poppa Dougy</h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/fred.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Johanna </h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/mark.jpg"  alt="avatar">
        </div>
        <h5 class="card-title">Marky Mark </h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
  </div>
  </div>
</div>

<!-- new row -->

<div class="container" id="main-content">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/bill.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Slim Tony</h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
  </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/steve.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Big Poppa Dougy</h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/fred.jpeg"  alt="avatar">
        </div>
        <h5 class="card-title">Johanna </h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-img-top">
          <img src="../resources/Images/mark.jpg"  alt="avatar">
        </div>
        <h5 class="card-title">Marky Mark </h5>
        <ul class="list-group list-group-flush">
          <li>San Antonio => Dallas</li>
          <li>Investor</li>
          <li>4/7/19</li>
        </ul>
    </div>
  </div>
  </div>
</div>

<!-- new row -->
</body>

<footer>
  <!-- add footerTemplate.html here -->
  <div class="jumbotron" id="header">
    <div class="row">
      <div class="col-sm-4">
        <a href="#">Contact us</a>
      </div>
      <div class="col-sm-4">
        <a href="#">FAQ</a>
      </div>
      <div class="col-sm-4">
        <a href="#">other stuff</a>
      </div>
    </div>
  </div>


</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
